<h1>Choose someone to follow</h1>
<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <%= e %><br>
    <% end %>
<% end %> 

<% Account.all.each do |account| %>
    <%= link_to account.user_name, visit_path(account.id)%><br>
<%end%>



