<% if params[:id].to_i == current_user.id %>
    <h1><%= "Everyone #{@account.user_name} is following" %></h1>

    <% @account.followers.each do |follower| %>
        <%= link_to follower.user_name, visit_path(follower.id) %><br>
    <% end %>
    <%else%>
        <% @account = Account.find(params[:id]) %>
        <% @account.followers.each do |follower| %>
            <%= link_to follower.user_name, visit_path(follower.id) %><br>
        <% end %>
<%end%>