<% if params[:id].to_i == current_user.id %>
    <h1><%= "Everyone #{@account.user_name} is following" %></h1>

    <% @account.followees.each do |followee| %>
        <%= link_to followee.user_name, visit_path(followee.id) %><br>
    <% end %>
    <%else%>
        <% @account = Account.find(params[:id]) %>
        <% @account.followees.each do |followee| %>
            <%= link_to followee.user_name, visit_path(followee.id) %><br>
        <% end %>
<%end%>


